:root{
    --primary-color:#659b5e;
    --secondary-color: #000000;
    --tertiary-color:#f2f5de;
    --quarternary-color: #96c5f7;
    --quinary-color: #ffd60a;
    --font-set: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    margin: 0;
    background-color: var(--tertiary-color);
    font-family: var(--font-set);
}

.logo{
    width: 90%;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.settings{
    position: absolute;
    right: 0;
    top: 0;
}

.settings i{
    color: var(--secondary-color);
    font-size: 26px;
    padding: 10px;
}

.buttons{
    margin-top: -30px;
    margin-bottom: 80px;
}

h2{
    text-align: center;
}

.button{
    background-color: var(--quarternary-color);
    border-radius: 30px;
    padding: 3px;
    margin: 15px 25px;
    box-shadow: 0px 10px 20px 0px rgba(0,0,0,0.2);
}

.buttonpremium{
    text-align: center;
    padding: 1px 5px;
    background-color: var(--quinary-color);
    border-radius: 30px;
    box-shadow: 0px 10px 20px 0px rgba(0,0,0,0.2);
    z-index: 2;
    position: absolute;
    width: 100px;
    margin-left: 65%;
    transform: rotate(15deg);
    margin-top: -10px;
}

.navigation{
    background-color: var(--primary-color);
    width: 100%;
    bottom: 0;
    z-index: 3;
    position: fixed;
}

.navigation ul{
    list-style-type: none;
    display: grid;
    align-items: center;
    grid-template-columns: auto auto auto auto auto;
    padding: 10px;
    margin: 0;
}

.navigation ul li a{
    text-decoration: none;
    display: block;
    color: var(--secondary-color);
    padding: 10px 5px;
    text-align: center;
    font-size: 26px;
    margin: 0;
    font-size: 26px;
    border-radius: 10px;
}

.active{
    background-color: #8bc284;
}

@media screen and (min-width:750px){
    .logo{
        width: 50%;
    }

    .button{
        margin: 15px 200px;
    }
}