/*Her er vores temafarver og skrifttype i projektet*/
:root {
    --primary-color: #659b5e;
    --secondary-color: #000000;
    --tertiary-color: #f2f5de;
    --quarternary-color: #96c5f7;
    --quinary-color: #ffd60a;
    --font-set: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
    margin: 0;
    background-color: var(--tertiary-color);
    font-family: var(--font-set);
    padding: 0;
}

/*Her har vi stylet navigationsbaren*/
.navigation {
    background-color: var(--tertiary-color);
    width: 100%;
    z-index: 1;
    box-shadow: 0px 6px 10px 0px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    position: fixed;
    top: 0;
}

.logo {
    width: 100px;
    display: block;
    padding: 8px;
}

.nav-ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    padding: 5px;
    margin: 0;
    display: none;
    flex-direction: column;
}

.nav-ul a {
    text-decoration: none;
    color: var(--primary-color);
    padding: 14px 16px;
    text-align: center;
    font-size: 24px;
}

/*Her er stylingen der laver hamburger menuen.*/
.hamburger {
    background-color: transparent;
    border: 0;
    cursor: pointer;
    color: var(--secondary-color);
    font-size: 26px;
    display: block;
    padding: 8px;
}

.hamburger:focus {
    outline: none;
}

.nav-ul.show {
    display: flex;
}

.show {
    display: block;
}

.omosh1 { 
    margin-top: 90px;
    margin-left: 70px;
}
.medarbejdere{
    margin-left: 60px;
}
.medarbejdere img {
    width: 250px;
    margin-bottom: 5px;
}
.medarbejdere p {
    margin-bottom: 50px;
    margin-top: 0px;
}
.omosh2{ 
    margin: 5px;
    margin-bottom: 10px;
    margin-top: 20px;
}
.omosp{
    margin: 5px;
    margin-bottom: 20px;
    line-height: 20px;
}
.overstkasse{
    width: 100%;
    padding-top: 5px;
}
.omospa{
    margin-bottom: 50px;
    margin: 5px;
    line-height: 20px;
}
.andenkassenederst{
    background-color: var(--primary-color);
}
.instagram i {
    font-size: 100px;
    color: var(--secondary-color);
    margin: 15px;
    color: var(--quinary-color);
}
.linkedin i {
    font-size: 100px;
    margin: 15px;
    color: var(--quarternary-color);
}
.facebook {
    font-size: 100px;
    margin: 15px;
    color: var(--quarternary-color)
}

.supermarket{
    width: 100%;
    margin: 0;
    z-index: -2;
    position: relative;
}

.howtoh1{
    margin-top: 100px;
    text-align: center;
    margin-top: 0;
}

.howtoh2{
    text-align: center;
}

.texthowto{
    background-color: var(--primary-color);
    padding: 20px;
    margin: 0;
    margin-top: -10px;
    z-index: -1;
    position: relative;
}

.howtop{
    font-size: 26px;
    text-align: center;
    padding: 10px 20px;
    margin: 30px;
    background-color:var(--quarternary-color);
    border-radius: 30px;
    box-shadow: 0px 6px 10px 0px rgba(0, 0, 0, 0.2);
}

.howtoimg{
    width: 80%;
    border: 5px;
    border-style: solid;
    border-color: var(--quarternary-color);
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.baggrund1{
    width: 100%;
    margin-top: 82px;
    z-index: -2;
}

.overskrift1{
    font-size: 25px;
    text-align: center;
    margin-top: 10px;
    
}
.text1{
    font-size: 15px;
    text-align: center;
    margin-top: -15px;
}
.box1{
    border: 5px solid #659b5e;
}

.baggrund2{
    width: 100%;
    margin-top: 0px;
    z-index: -2;
}
.overskrift2{
    font-size: 20px;
    text-align: center;
    margin-top: 10px;
}
.text2{
    font-size: 15px;
    text-align: center; 
    margin-top: -15px;
}
.goderåd{
    border: 5px solid #659b5e;  
}
.opskrifter{
    width: 100%;
    margin-top: 0px;
    z-index: -2;
}
       


.mobil{
    width: 100%;
}

.index{
   font-size: 26px;
   text-align: center;
   padding: 10px 20px;
   margin: 15px;
   background-color:var(--quarternary-color);
   border-radius: 30px;
   box-shadow: 0px 6px 10px 0px rgba(0, 0, 0, 0.2);
   vertical-align: top;
}

@media screen and (min-width: 395px) {
    .nav-ul{
        margin-right: 120px;
    }
}

@media screen and (min-width: 500px) {
    .nav-ul{
        margin-right: 230px;
    }
}

@media screen and (min-width: 641px) {
    .hamburger {
        display: none;
    }

    .nav-ul {
        display: block;
        flex-direction: none;
        margin: 0;
    }

    .logo {
        width: 130px;
    }

    .nav-ul li {
        display: inline-block;
    }
    .medarbejdere{
        display: flex;
        flex-wrap: wrap;
    }
    .omosh1{
        margin-top: 150px;
        text-align: center;
    }

    .texthowto{
        margin-top: -56%;
        margin-left: 60%;
        padding: 30px 50px;
    }

    .howtocontainer{
        margin-top: 110px;
    }

    .mobil{
        width: 300px;
        margin-left: 30px;
    }

    .grid-container{
        display: grid;
        grid-template-columns: auto auto;
        align-items: center;
    }

    .index{
        padding: 50px 20px;
    }
}


@media screen and (min-width: 700px) {
    .howtocontainer{
        margin-top: 170px;
    }
}

@media screen and (min-width: 740px) {
    .howtocontainer{
        display: grid;
        grid-template-columns: 2fr 1fr;
        margin-top: 280px;
        align-items: center;
    }

    .howtoimg{
        width: 230px;
        margin-right: 100px;
    }

    .howtop{
        padding: 40px;
    }

    .supermarket{
        height: 650px;
        object-fit: cover;
    }

    .texthowto{
        margin-top: -500px;
    }

    .mobil{
        width: 400px;
        margin-left: 30px;
    }
}

@media screen and (min-width: 970px) {
    .howtocontainer{
        margin-top: 330px;
    }
    
    .index{
        margin-left: 200px;
        margin-right: 200px;
        margin-bottom: -20px;
    }
}
