/*Her er vores temafarver og skrifttype i projektet*/
:root {
    --primary-color: #659b5e;
    --secondary-color: #000000;
    --tertiary-color: #f2f5de;
    --quarternary-color: #96c5f7;
    --quinary-color: #ffd60a;
    --font-set: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
    margin: 0;
    background-color: var(--tertiary-color);
    font-family: var(--font-set);
    padding: 0;
}

/*Her har vi stylet navigationsbaren*/
.navigation {
    background-color: var(--tertiary-color);
    width: 100%;
    z-index: 1;
    box-shadow: 0px 6px 10px 0px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    position: fixed;
    top: 0;
}

.logo {
    width: 100px;
    display: block;
    padding: 8px;
}

.nav-ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    padding: 5px;
    margin: 0;
    display: none;
    flex-direction: column;
}

.nav-ul a {
    text-decoration: none;
    color: var(--primary-color);
    padding: 14px 16px;
    text-align: center;
    font-size: 24px;
}

/*Her er stylingen der laver hamburger menuen.*/
.hamburger {
    background-color: transparent;
    border: 0;
    cursor: pointer;
    color: var(--secondary-color);
    font-size: 26px;
    display: block;
    padding: 8px;
}

.hamburger:focus {
    outline: none;
}

.nav-ul.show {
    display: flex;
}

.show {
    display: block;
}
.omosh1 { 
    margin-top: 30px;
}
.logostor {
    height: 210px;
}

.omosp{
    margin: 0%;
}
.forstekasse{
    width: 100%;
}

@media screen and (min-width: 395px) {
    .nav-ul{
        margin-right: 120px;
    }
}

@media screen and (min-width: 500px) {
    .nav-ul{
        margin-right: 220px;
    }
}

@media screen and (min-width: 641px) {
    .hamburger {
        display: none;
    }

    .nav-ul {
        display: block;
        flex-direction: none;
        margin: 0;
    }

    .logo {
        width: 130px;
    }

    .nav-ul li {
        display: inline-block;
    }
}
